<div ng-controller="XmplController">
  {{ greeting }}!
  {{ 43 * (4 / 2) | currency }}!

  <button ng-click="randomize()">button</button>
  <input ng-model="foo", value="12" /> 
  <label ng-model="foo", value="12">{{foo}}</label>
</div>
