<html lang="en" ng-app="links">
  <head>
    <title>Collect</title>
    <script src='/javascripts/vendor/bootstrap.js'></script>

    <script src='/javascripts/vendor/closure/collect-compiled.js'></script>

    <script src='/javascripts/vendor/angular/angular.min.js'></script>
    <script src='/javascripts/vendor/angular/angular-sanitize.min.js'></script>

    <script src='/javascripts/vendor/jquery-1.7.min.js'></script>
    <script src='/javascripts/vendor/underscore-min.js'></script>
    <script src='/javascripts/vendor/showdown.js'></script>

    <script src='/javascripts/vendor/jquery.simplePagination.js'></script>
    <script src='/javascripts/vendor/querystring.js'></script>
    <script src='/javascripts/links/pagination.js'></script>
    <script src='/javascripts/links/app.js'></script>
    <script src='/javascripts/links/ui/ui.js'></script>
    <script src='/javascripts/links/data/data.js'></script>
    <script src='/javascripts/links/filter.js'></script>
    <script src='/javascripts/links/jlMarkdown.js'></script>
    <script src='/javascripts/links/controllers/search.js'></script>

    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css'></link>
    <link rel='stylesheet' href='/stylesheets/style.css'></link>
    <link rel='stylesheet' href='/stylesheets/simplePagination.css'></link>

  </head>
  <body>
  <%- body %>
  </body>
</html>
