<html lang="en" ng-app="links">
  <head>
    <title>Collect</title>
    <script src='/javascripts/bootstrap.js'></script>
    <script src='/javascripts/angular-1.0.0.min.js'></script>
    <script src='/javascripts/angular-sanitize-1.0.0.min.js'></script>
    <script src='/javascripts/jquery-1.7.min.js'></script>
    <script src='/javascripts/underscore-min.js'></script>
    <script src='/javascripts/backbone-min.js'></script>
    <script src='/javascripts/jquery.simplePagination.js'></script>
    <script src='/javascripts/pagination.js'></script>
    <script src='/javascripts/app.js'></script>
    <script src='/javascripts/controllers/search.js'></script>

    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css'></link>
    <link rel='stylesheet' href='/stylesheets/style.css'></link>
    <link rel='stylesheet' href='/stylesheets/simplePagination.css'></link>

  </head>
  <body>
  <%- body %>
  </body>
</html>
