<html lang="en" ng-app="links">
  <head>
    <title><%= title %></title>
    <script src='/javascripts/angular-1.0.0.min.js'></script>
    <script src='/javascripts/jquery-1.7.min.js'></script>
    <script src='/javascripts/underscore-min.js'></script>
    <script src='/javascripts/backbone-min.js'></script>
    <script src='/javascripts/jquery.simplePagination.js'></script>
    <script src='/javascripts/app.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css'></script>
    <link rel='stylesheet' href='/stylesheets/simplePagination.css'></script>
  </head>
  <body>
  <%- body %>
  </body>
</html>
