body {
  background: #f7f7f7;
  height: 100%;
}

.container {
  box-shadow: 0 0 5px #888;
  background: #fff;
  padding: 30px 20px 50px 20px;
}

.pagination.compact-theme {
  margin-bottom: 0;
  padding-bottom: 0;
}

.pagination a {
  text-decoration: none; 
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

ul#links {
  margin-top: 20px;
}

ul#links li {
  border-top: 1px solid #ccc;
  padding: 5px 0 20px 5px;
}

ul#links li a {
  color: #000;
  display: block;
  font-weight: bold;
}

ul#links li a.link {
  color: #666;
  font-weight: normal;
}

div.tags {
  margin-top: 4px;
}
ul#links div.tags a {
  background: #ccc;
  border: 1px solid #666;
  border-radius: 2px;
  display: inline-block;
  float: left;
  font-weight: normal;
  margin-right: 5px;
  padding: 3px;
}

div.notes {
  box-shadow: 0 0 3px #888;
  color: #666;
  cursor: pointer;
  font-size: 11px;
  margin-top: 10px;
  max-height: 40px;
  overflow: scroll;
  padding: 10px;
}

div.notes.active {
  max-height: inherit;
}
