body {
  background: #f7f7f7;
  height: 100%;
}

.container {
  box-shadow: 0 0 5px #888;
  background: #fff;
  padding: 30px 20px 50px 20px;
}

.pagination.compact-theme {
  margin-bottom: 0;
  padding-bottom: 0;
}

.pagination a {
  text-decoration: none; 
}

h1, form {
  display: inline-block;
  margin-bottom: 0;
}

form {
  float: right;
}
form input[type="text"] {
  height: 25px;
}

ul, li {
  margin: 0;
  padding: 0;
}

.notifier {
  margin-top: 50px;
  text-align: center;
}

#no-results img {
  margin: 0 auto;
}

li {
  list-style-type: none;
}

ul#links {
  margin-top: 20px;
}

ul#links img {
  max-height: 100px;
}
ul#links img.video {
  max-height: 180px;
}

ul#links li {
  border-top: 1px solid #ccc;
  padding: 5px 8px 20px 8px;
  position: relative;
}

ul#links li.selected {
  background: #e8f1fd;
}

ul#links li a {
  color: #000;
  font-weight: bold;
}

ul#links li a.link {
  color: #666;
  font-weight: normal;
}

ul#links input {
  border-radius: 2px;
  height: 24px;
  padding: 10px;
  width: 60%;
}
ul#links textarea {
  border-radius: 2px;
  height: 250px;
  width: 60%;
}

div.tags {
  margin-top: 4px;
}
ul#links div.tags a {
  background: #ccc;
  border: 1px solid #666;
  border-radius: 2px;
  display: inline-block;
  float: left;
  font-weight: normal;
  margin-right: 5px;
  padding: 3px;
}

ul#links.images li {
  float: left;
  margin-right: 5px;
  width: 300px;
}

ul#links.images li a,
ul#links.images li div.notes {
  display: none;
}

ul#links.images li a.image,
ul#links.images li div.date {
  display: block;
}

div.notes {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 10px;
  padding-top: 10px;
  max-height: inherit;
}

div.notes.selected {
  max-height: inherit;
}

div.notes pre {
  border: 0;
  font-size: 12px;
  font-family: inherit;
}

span.delete,
span.save,
span.cancel,
span.edit {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}
span.edit {
  right: 60px;
}
span.save {
  right: 110px;
}
span.cancel {
  right: 60px;
}
