<ng-include src="'partials/header.html'"></ng-include>

<div class="notifier" ng:show="loaded && (count == 0)">
  <h1>You get nothing!</h1>
</div>
<div class="notifier" ng:show="!loaded">
  <div id="clock_container">
    <div class="clock">
      <div class="clock_knob"></div>
      <div class="clock_hand"></div>
    </div>
  </div>
</div>

<ul id="links" class="{{listType}}">
  <li class="{{itemClass | selectedItem}}" ng:repeat="link in links">
    <span ng-click="handleDelete(link)" class="delete">[delete]</span>
    <span ng:show="!link.edit" ng-click="handleEdit(link)" class="edit">[edit]</span>
    <div ng:show="link.edit">
      <span ng-click="handleSave(link)" class="save">[save]</span>
      <span ng-click="handleCancel(link)" class="cancel">[cancel]</span>
    </div>

    <div ng:show="showThumbnail(link)" class="image-frame">
      <img gm-cropped-image ng:show="link.value.thumbnail_url" />
    </div>

    <div class="info-frame">
      <a ng:show="!link.edit" class="title" href="{{link.value | uri}}" target="_blank">{{link.value.title | truncate:145}}</a>
      <div ng:show="link.edit"><input type="text" ng:model="link.value.title" /></div>

      <div ng:show="!link.edit" class="date">Created: {{link.value | date}}</div>

      <ng-include ng:show="!link.edit" src="linkMediaUrl(link)"></ng-include>
      <div ng:show="link.edit"><label ng:show="link.edit" ng:model="link.value.uri">{{link.value.uri}}</label></div>

      <div ng:show="!link.edit" class="tags clearfix">
        <a ng:repeat="tag in link.value.tags" href="#/search/{{tag}}">{{tag | truncate:30}}</a> 
      </div>
      <div ng:show="link.edit">
        <input type="text" 
               class="tags"
               ng:model="link.value.tags" 
               autofocus 
        />
      </div>
      <div ng:dblclick="notesClick()" class="{{notesClass | selectedNote}}" ng:bind-html-unsafe="link.value.notes" ng:show="!link.edit && link.value.notes"></div>
      <div ng:show="link.edit"><textarea ng:bind-html-unsafe="link.value.notes" ng:model="link.value.notes"></textarea></div>
    </div>

  </li>
</ul>

<ng-include src="'partials/footer.html'"></ng-include>

